@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;    /*Elimina las líneas de los enlaces*/
    font-family: 'Open Sans', sans-serif;
}

.header{
    position: fixed;        /*El header se mantendrá siempre encima de la página, no ocupa espacio en el html*/
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 0 4px 25px -22px black;
    z-index: 2;
}

/*Barra de redes sociales en el header*/
.container-social-top{
    display: flex;
    width: 100%;
    justify-content: left;
    /* margin-top: 20px; */
    margin: 0;
    background: #eeeeee;
}

/*Imagen del logo en el social bar superior*/
.container-social-top .logo-top{
    /* text-align: left; */
    margin-left: 18.35%;
    margin-right: 5%;
}

.container-social-top .logo-top img{
    /* width: 100px; */
    width: 110px;
    height: 100%;
    border-radius: 15%;
    /* margin-left: 2%; */
}

.container-social-top .icon-redes-header{
    font-size: 20px;
    margin: 20px;
    /* background: #000; */
    width: 5px;
    height: 5px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* border-radius: 100%; */
    color: #a2a2a2;
    /* color: #fff; */
}

.container-social-top .icon-redes-header:hover{
    /* background: #b71c1c; */
    color: #b71c1c;
}

/*Nav*/
.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;  /*Se coloca cada elemento uno al lado del otro*/
    justify-content: space-between;     /*Cada elemento establece un margen frente a los otros*/
}

.logo{
    height: 80px;
    display: flex;
    justify-content: center;        /*El contenido se centra de manera horizontal*/
    align-items: center;            /*El contenido se centra de manera vertical*/
}

.logo h1 b{
    color: #b71c1c;
}

.menu{
    height: 80px;
}

.menu nav{
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;           /*Eliminamos los puntos de la lista*/
}

.menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-selected:before{         /*Creamos la pseudoclase before*/
    content: '';                /*Contenido en blanco*/
    width: 100%;
    height: 4px;
    background: #b71c1c;
    position: absolute;
    top: 0;
    left: 0;
}

.menu nav ul li a{
    color: #777777;
    font-size: 18px;
    transition: color 300ms;
}

.menu nav ul li a:hover{
    color: #b71c1c;
}

.menu .text-menu-selected{
    color: #b71c1c;
}

/*Ocultamos los iconos del menú horizontal*/
.menu nav ul li a i{
    display: none;
}

/*Hamburguesa del menú responsive*/
#icon-menu{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    padding: 10px;
    font-size: 20px;
    background: #eeeeeefa;
    border-radius: 100%;
    color: #787878;
    display: none;
    justify-content: center;        /*trabaja con display:flex, (flexbox)*/
    align-items: center;            /*trabaja con display:flex, (flexbox)*/
    cursor: pointer;
}


#icon-menu:hover{
    opacity: 0.8;
}

/* Portada */

.container-cover{
    width: 100%;
    height: 650px;
    position: relative;             /*Desplazará todo el contenido que esté debajo*/
    margin-top: 5px;                      /*Continúa donde acaba el nav*/
    background-image: url(../img/DSC_8266.jpg);
    background-position: center;    /*Centra la imagen por todos lados*/
    background-size: cover;         /*Cubrirá toda la portada*/
    background-repeat: no-repeat;   /*No se va a repetir la imagen*/
}

.container-cover:before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(26, 35, 126, .6);
    position: absolute;             /*Para que se vea la capa*/
    top: 0;
    left: 0;
}

.container-info-cover{
    max-width: 800px;
    height: 650px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;         /*Los elementos se posicionan uno al lado de otro en vertical, columna*/
    justify-content: center;
    align-items: center;
    position: relative;             /*Con el z-index podemos mostrar el texto por encima del fondo con la posición RELATIVE*/
    z-index: 1;
}

.container-info-cover h1{
    font-size: 60px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
}

.container-info-cover p{
    color:#fff;
    font-size: 20px;
    font-weight: 300;
}

/***** CONTENEDOR DEL CONTENIDO DEL ARTÍCULO *****/

.container-content{
    width: 1200px;      /*Como el header, (container-header)*/
    margin: auto;
    margin-top: 40px;
    display: flex;      /*Nos permite posicionar los aside en un margen de la página*/
    justify-content: center;    /*Con el display:flex: nos permite centrar el contenido de cada elemento*/
}

article{
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: -10px 0 20px -30px #000;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

article:before{
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    background: #b71c1c;
}

article h1{
    margin-top: 20px;
    font-weight: 500;
    font-size: 40px;
}

article p{
    margin-top: 20px;
    font-size: 18px;
    color: #3c3c3c;
}

article img{
    width: 100%;
    margin-top: 20px;
}

/******* ASIDE DE LOS ARTÍCULOS RELACIONADOS ********/

.container-aside aside{
    width: 320px;
    border-radius: 6px;
    box-shadow: 0 0 20px -20px #000;
    border-radius: 6px;
    overflow: hidden;
    margin-left: 40px;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

.container-aside img{
    width: 100%;
}

.container-aside aside h2{
    margin-top: 20px;
    /* margin-left: 27px; */
    text-align: center;
    padding: 0px 20px;
}

/* .container-aside aside h2, */
.container-aside aside p{
    margin-top: 20px;
    padding: 0px 20px;
}

.container-aside aside button{
    margin-top: 20px;
    margin-left: 65px;
    padding: 10px 50px;
    font-size: 16px;
    background: #b71c1c;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
}

.container-aside aside button:hover{
    opacity: 0.9;
}



/****  ATRIBUTOS DEL FOOTER  ****/

footer{
    width: 100%;
    height: 15%;
    padding: 50px 0px;
    /*background-color: #a70404d8;*/
    background-color: #eeeeee;
    background-size: cover;
    /*color: #fff;*/
}

/*Atributos del contenedor del footer*/
.container__footer{
    display: flex;          /*Las cajas van a ir en columnas contíguas*/
    flex-wrap: wrap;        /*Efecto responsive, cuando las columnas no caben una al lado de la otra, por el tamaña de la pantalla, (responsive design)*/
    justify-content: space-between;  /*Para que las columnas ocupen el espacio completo del foooter*/ 
    max-width: 1200px;
    margin: auto;           /*Se centra el contenedor del footer*/
    margin-top: 5px;
}

/*Atributos de las columnas de las diferentes secciones*/
.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

/*Atributos del logo del Club*/
.box__footer .logo img{
    width: 180px;
    /* align-content: left; */
    margin-left: -47%;
    border-radius: 5%;
}

/*Atributos de los términos*/
.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 700;
    /*color: #B3B6B7 ;*/
    color: #616161;
    font-size: 18px;
}

/*Propiedades de todos los títulos "h2" de cada columna*/
.box__footer h2{
    margin-bottom: 30px;
    /*color:#ffee58;*/
    /*color:#FFB300;*/
    color: #000;
    /* font-weight: 500; */
    font-weight: bold;
}

/*Propiedades de todos los links "<a>" de cada columna*/

.box__footer a{
    margin-top: 10px;
    /*color: #B3B6B7;*/
    color: #616161;
    font-weight: 600;
}

.box__footer i{
    color: #a2a2a2;
}

/*Efecto al pasar el puntero del ratón sobre los enlaces*/
.box__footer a:hover{
    /* opacity: 0.5; */
    color:#b71c1c;
}

/*Propiedades de los iconos de las redes sociales y el correo*/
.box__footer a .fab,.fas{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    /*color: #B3B6B7;*/
    color: #616161;
    font-weight: 700;
}

.box__copyright hr{
    border: none;
    height: 1px;
    /*background-color: #B3B6B7;*/
    /* color: #616161; */
    background-color: #616161;
}

/**** ATRIBUTOS DEL BOTÓN SUBIR PARA EL SCROLL ****/

#button-up{
    width: 60px;
    height: 60px;
    background: #e95950;

    /*posicionamos el icono en el centro*/
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    border-radius: 50%;
    font-size: 20px;
    position:fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 300ms ease;
    transform: scale(0);
}

#button-up:hover{
    transform: scale(1.1);
    border-color: rgba(0,0,0,0.1);
}


/*****   ATRIBUTOS Y PROPIEDADES DE LOS FORMULARIOS DE LOGIN - REGISTER   *******/

.background_login{
    background-image: url(../img/DSC_7259.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 110px;
    margin-bottom: 250px;
}

.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja__trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    /*Desenfoque de la imagen bajo la cafa trasera*/
    backdrop-filter: blur(10px);
    /*Degradado del color de fondo*/
    /* background-color: rgba(59, 103, 146, 0.5); */
    background-color: rgba(0,0,0,0.3);
}

.caja__trasera div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}

.caja__trasera div p,
.caja__trasera div button{
    margin-top: 30px;
}

.caja__trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera button{
    padding: 10px 40px;
    border: 2px solid #fff;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caja__trasera button:hover{
    background: #fff;
    color:#b71c1c;;
}

/*Propiedades de los FORMULARIOS*/
.contenedor__login-register{
    display: flex;  /*Posicionado vertical*/
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form{
    width: 100%;
    padding: 80px 20px;
    background: #fff;
    /*Posición para poderlo mover*/
    position: absolute;
    border-radius: 20px;
}

.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #b71c1c;
}

.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #b71c1c;;
    color: white;
    cursor: pointer;
    outline: none;
}

.formulario__login{
    opacity: 1;
    display: block;
}

.formulario__register{
    /*Aparece el formulario de registro con "display:block"*/
    display: none;  
}



/*****************************  RESPONSIVE DESIGN - ADAPTABLE A DISPOSITIVOS MÓVILES ***************************/

@media screen and (max-width: 1220px){

    .container-social-top,
    .header-content,
    .container-content,
    .container-footer footer{
        max-width: 1000px;
        padding: 0 20px;
    }
}


@media screen and (max-width: 1020px){

    .container-content{
        width: 100%;
        flex-direction: column;
    }

    article{
        box-shadow: 0 0 0 0;
    }

    .container-aside{
        display: flex;
        justify-content: center;
    }

    .container-aside aside{
        max-width: 300px;
        margin: 10px;
    }

}


@media screen and (max-width: 990px){

    /*Eliminamos la barra de scroll horizontal*/
    body{
        overflow-x: hidden;
    }

    /*Configuramos un desplazamiento del contenido hacia la derecha suave, al mostrar el menú vertical*/
    .container-all{
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    /*Al sacar el menú vertical, el contenido lo rodamos 300px a la derecha*/
    .move-container-all{
        transform: translateX(300px);
    }

    .menu{
        width: 0px;
        height: 100vh;  /*Alto correspondiente a todo el alto de la página*/
        position: fixed;    /*Posición por encima de todo*/
        top: 80px;
        left: 0;
        background: #fff;
        overflow: hidden;
        transform: translateX(-350px);      /*Mantenemos el menú en su posición*/
        box-shadow: 10px 0 20px -25px #000;
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    /*Mostramos el menú lateral vertical al pulsar la hamburguesa*/
    .show-lateral{
        width: 300px;
        transform: translateX(0px);
    }

    .menu nav ul{
        flex-direction: column;     /*Colocamos los enlaces del menú uno debajo del otro*/
    }

    .menu nav ul li{
        max-width: 200px;
        height: 50px;
        justify-content: flex-start;
    }

    .menu-selected:before{
        width: 0;
    }

    .menu nav ul li a{
        margin-top: 40px;
        color:#858585;
    }

    /*Iconos de font-awesome*/
    .menu nav ul li a i{
        width: 20px;
        display: inline-block;
        margin-right: 10px;
        color:#b71c1c
    }

    /*Ajustamos la posición de los artículos relacionados, (aside)*/
    .container-aside{
        flex-wrap: wrap;
    }

    /*Mostramos la hamburguesa del menú lateral-vertical*/
    #icon-menu{
        display: flex;
    }

    /**** ATRIBUTOS DEL BOTÓN SUBIR PARA EL SCROLL ****/

    #button-up{
        width: 50px;
        height: 50px;
        background: #e95950;
        
        /*posicionamos el icono en el centro*/
        display: flex;
        justify-content: center;
        align-items: center;
        
        color: white;
        border-radius: 50%;
        font-size: 20px;
        position:fixed;
        bottom: 155px;
        right: 26px;
        cursor: pointer;
        border: 4px solid transparent;
        transition: all 300ms ease;
        transform: scale(0);
    }  


    /**** PROPIEDADES DEL RESPONSIVE DESIGN DE LOS FORMULARIOS DE LOGIN - REGISTER ****/


    main{
        margin-top: 50px;
    }
    
    .caja__trasera{
        max-width: 350px;   /*Más estrecha que el formulario*/
        /*El contenedor padre "contenedor_todo" tiene 800px*/
        height: 300px;
        /*Movimiento de la caja en columna*/
        flex-direction: column;
        margin: auto;
    }

    .caja__trasera div{
        margin: 0px;
        /*Montar textos unos encima de otros para ocultar*/
        position: absolute;
    }


/**** RESPONSIVE DESIGN DE LOS FORMULARIOS ****/

    .contenedor__login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form{
        position: relative;
    } 
}